@charset "UTH-8";
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
nav{
    background-color: rgb(243, 252, 6);
}
nav li{
    display: inline-block
}
nav li a{
    display:inline-block;
    color: rgb(6, 6, 6);
    text-decoration: none;
    padding: 50px;

}
nav li a:hover{
    background-color: red;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 10px;
}

.dp-menu ul{
  list-style-type: none;
   
}
.drop-menu{
    position: absolute;
    display: none;
    border-radius: 0px 0px 10px 10px ;
    }
.drop-menu a {
    display: block;

}
.drop:hover .drop-menu{
    display: block;
    background-color: yellow;

}

