@charset "UTC-8";
body{
    font-family:  Arial, Helvetica, sans-serif;
   background-image: linear-gradient(to left,#401131,#993866);
    margin: 0px;
}
header{
    background-image: linear-gradient(to left, rgb(177, 250, 6), rgb(120, 149, 4) );
    padding: 10px;
    margin: 10px;

}
nav{
    background-color: rgb(194, 0, 0);
    padding: 3px;
   box-shadow: 3px 3px 5px black;
    
}
nav > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
}
nav > a:hover{
    text-decoration: underline;
}

main{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    


}
div#teste1{
    display: inline-block;
   height: 200px;
   width: 200px;
   background-color: rgb(79, 73, 73);
   margin: 10px;
   border-radius: 5px;
}
article{
    background-color: lightgray;
    padding: 5px;
}
article > aside{
    background-color: rgb(99, 99, 99);
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
    margin: 0px;
}
footer > p{
    margin: 4px;
}
div#bola{
    height: 100px;
    width: 100px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}